    <label>[% IF field.label %][% field.label %][% ELSE %][% field.name %][% END %][% IF form.error(field.$name) %] - [% form.error(field.$name) %][% END %]</label>
    <input id="[% field.name %]" name="[% field.name %]" type="file" value="[% form.params.$this || field.value %]" />